@media (min-width: 767px) {
    .menuDesktop{
        display: flex;
        flex-direction: row;
        align-items: inherit;
        gap:20px;
    }
    .menuDesktop section{
        width:30%;
    }

    .reserve{
        padding: 5%;
    }
    .firstRow{
        flex-direction: row;
        justify-content: space-evenly;   
    }
    .firstRow div{
        width: 31%;
    }
    .fonctionne i{
        margin: 0 15px;
    }
    .fonctionne p{
        margin-left: -10px;
        position: inherit;
        display: flex;
    }
    .fonctionne div div{
        justify-content: inherit;
    }
    .restaurant > div{
        display: flex;
        flex-direction: row;
    }
    .head img{
        width: 25%;
    }
    .logoDesktop{
        width: 20%;
    }
    .restaurant a{
        height: 250px;
    }
}

@media (min-width: 1000px) {
    .row{
        padding: 35px;
    }
}

