@media (min-width: 767px) {
    .menuDesktop{
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .fonctionne > div{
        display: flex;
        flex-direction: row;
    }
    .fonctionne > div > div{
        width: 33%;
    }
    .restaurant > div{
        display: flex;
        flex-direction: row;
    }
}