@media (min-width: 767px) {
    .menuDesktop{
        display: flex;
        flex-direction: row;
        align-items: inherit;
        gap:20px;
    }
    .reserve{
        padding: 5%;
    }
    .firstRow{
        flex-direction: row;
    }
    .firstRow div{
        width: 33%;
    }
    .fonctionne p{
        position: inherit;
        display: flex;
    }
    .restaurant > div{
        display: flex;
        flex-direction: row;
    }
}